<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
    	<!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/pricing/"> -->
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    	<!-- Custom styles for this template -->
	    <title>SportyShoesCo</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" media="all" href="css/main.css" />
    </head>
    <body>
		<div th:replace="adminHeader :: adminHeader"></div>
		<h4 th:text="${'Purchase Details for Category '+category+' on Date '+dateString}">Purchase Details</h4>
		<div>
		<div class="wrapper fadeInDown">

		<table class="table table-striped">
		  	<thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Timestamp</th>
			      <th scope="col">Product Name</th>
			      <th scope="col">Product Price</th>
			      <th scope="col">UserEmail</th>
			      <th scope="col">Picture</th>
			    </tr>
  			</thead>
			<tbody>
				<tr th:each="purchase : ${purchases}"  th:id="${purchase.id}">
					<td th:text="${purchase.id}" th:id="purchaseId">id</td>
					<td th:text="${purchase.purchaseTimestamp}" th:id="timestamp">timestamp</td>
					<td th:text="${purchase.product.name}" th:id="productName">name</td>
					<td th:text="${purchase.product.price}" th:id="productPrice">price</td>
					<td th:text="${purchase.user.email}" th:id="userEmail">mail</td>
					<td><img th:src="${purchase.product.pictureUrl}" height="50"/></td>
				</tr>
			</tbody>
		</table>
    </body>
</html>